body {
    background-color: rebeccapurple;
    color:violet;
    padding: 10px;
    height: 1000px;
    display: flex;
    justify-content:center;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    
}

h1 {
    text-align: center;
    text-decoration: teal;
}

.container {
    padding: 10px;
    border: 5px solid black;
    /* display: inline-block;  */
    margin: 10px;
    position: absolute;
    height: 760px;
    width: 600px;
    
}

/* #image{ */
    /* display: inline-block; */
/* } */
#image {
    float: right;
    width: 300px;
    position: static;
    bottom: 0;
    /* display: flex; */
    /* text-align: right; */
}